body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @media screen and (max-width: 500px){
        font-size: 10px;
        h1{
            font-size: 15px;
        }
        h3{
            font-size: 10px;
        }
    }
}/*
position: fixed;
top:0;
*/
.navini{
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 1rem;
    grid-auto-rows:5rem;
    grid-template-columns: repeat(auto-fill, auto);
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    color: azure;
}
.ini2{
    color: white;
}
.navnav{
    padding-left: 10px;
    background-color: rgb(224,224,244);
    display: flex;
    grid-auto-rows: 5rem;
    align-items: center;
    grid-template-rows: repeat(1,auto);
}
.navnav .nav1 #imageLogo{
    margin-left: 5px;
    max-width:auto;
    height: 50px;
}
ul{
   display: flex;
   gap: 1rem;
   grid-auto-rows: 5rem;
    align-items: center;
    grid-template-rows: repeat(1,auto);
}
li{
    list-style: none;
    max-width: auto;
    max-height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
li:hover{
    color: white;
    background: linear-gradient(to right, #1CB5E0, #ffffff);
    padding: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.sec1{
    color: aliceblue;
    background: url(../images/fondo.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    gap: 1rem;
    grid-auto-rows:5rem;
    grid-template-columns: repeat(auto-fill,auto);
}
.welcome{
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.slider{
    display: grid;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,auto);
}
.proj{
    display: flex;
    justify-content: center;
    text-align: center;
    grid-auto-rows:24rem;
    grid-template-columns: repeat(auto-fill,auto);
}

.card{
    width: 40%;
}
.card #imageBody{
    min-height: 200px;
}
.card-textP{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    width: 50%;
}
.card-textH{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-right: 15px;
    width: 50%;
}


.sec-two{
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 15px;
    grid-auto-rows:5rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
}
.title-two{
    text-align: center;
    justify-content: center;
    padding: 15px 45px;
    
}
.title-two a{
    font-size: 35px;
    @media screen and (max-width: 500px){
        font-size: 20px;
    }
}

.sec-three{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 6px 28px;
}
.details-one{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: azure;
    flex-grow: 1;
    flex-basis: 200;
    border-radius: 15px;
    padding: 13px 10px;
    width: 18rem;
    height: auto;
}
.sec-four{
    background: rgb(227, 224, 224) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 35px 45px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}
.item{
    display: flex;
    flex-grow: 1;
    flex-basis: 200;
    width: 22rem;
    height: auto;
    padding: 10px 25px;
}
.item .img-check{
    width: 60px;
    background-color: white;
    border-radius: 150px;
    
}
/**/
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    grid-auto-rows:5rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem ,1fr));
}
.body-weld{
    display: grid;
    margin-top: 40px;
    width: 700px;
    padding: 15px 25px;
    background: #979eb1;  /* fallback for old browsers */
}
.contacto-weld{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px;
    color: black;
    grid-auto-rows:5rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem ,1fr));
}
.infoGroup{
    margin: 9px;
}
.contacto-weld .num{
    color: black;
}

.footer{
    color: white;
    background-color: #000046;
    grid-auto-rows:5rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem ,1fr));
}
.items-footer{
    display: flex;
    justify-content: center;
    color: white;
}
.item-fot-1{
    width: 30%;
    margin: 15px;
}
.item-fot-2{
    margin: 15px;
    width: 15%;
}
.icon-fot{
    color: white;
}

/* MEDIA QUERIS*/


@media screen and (max-width: 500px) {
    .container{
        padding: 5px;
    }
    .item{
        padding: 0;
    }
}
@media screen and (max-width: 500px){
    .item .img-check{
        width: 35px;
        background-color: white;
        border-radius: 150px;
    }
}

@media screen and (max-width: 500px){
    .body-weld{
        width: auto;
    }
    h4{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){
    .item-fot-1{
        width: 50%;
        margin: 15px;
    }
    .item-fot-2{
        margin: 15px;
        width: 15%;
    }
}